.bgstatic{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #ccdff0;
   width: 100%;
}

.label{
    width: 200px;
    font-size: 14px;
}
.icon i{
    font-size: 24px;
}
.icon{
    width: 50px;
}
.MuiExpansionPanelSummary-content{
    display: block;
}

.bgnew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eef7ff;
    width: 100%;
}


.MuiTypography-body1{
    width: 100%;
}